<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/pastoral_logo.png">
    </a>
    <h1>Bienvenidos a la Pastoral Universitaria de FIUBA</h1>
    <p>Esta es la pagina web del servicio de pastoral universitaria de la Facultad de Ingenieria de la Universidad de Buenos Aires.</p>
    <a type="button" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-flash"></span> Vamos a algun lugar</a>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span> Hola </a>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>
